<%= form_for(@announcement) do |f| %>
  <% if @announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
      <% @announcement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">

    <%= f.label :title %>
    <br>
    <%= f.text_field :title %>
    <br>
    <%= f.label :message %>
    <br>
    <%= f.text_area :message, size: "24x6"  %>
    <br>
    <%= f.submit %>
  </div>
<% end %>
